<%= form_for(@application) do |f| %>
  <% if @application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% @application.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <label for="user_name">Name</label><br />
    <input id="user_name" name="name_label" size="30" type="text" />
  </div>

  <div class="field">
    <label for="applicant_email">e-mail</label><br />
    <input id="applicant_email" name="email_label" size="30" type="text" />
  </div>

  <div class="field">
    <%= f.label :cv %><br />
    <%= f.text_field :cv %>
  </div>
  <div class="field">
    <%= f.label :linkedin %><br />
    <%= f.text_field :linkedin %>
  </div>
  <div class="field">
    <%= f.label :priority %><br />
    <%= f.number_field :priority %>
  </div>
  <div class="field">
    <%= f.label :military_status %><br />
    <%= f.number_field :military_status %>
  </div>
  <div class="field">
    <%= f.hidden_field :vacany_id, :value => @job_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
