<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @applicant.name %>
</p>

<p>
  <b>Email:</b>
  <%= @applicant.email %>
</p>




<table>
  <tr>
    <th>Cv</th>
    <th>Linkedin</th>
    <th>Priority</th>
    <th>Military status</th>
    <th>Vacany</th>
    <th>Application status</th>
    <th>Applicant</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @applicant.applications.each do |application| %>
  <tr>
    <td><%= application.cv %></td>
    <td><%= application.linkedin %></td>
    <td><%= application.priority %></td>
    <td><%= application.military_status %></td>
    <td><%= application.vacany_id %></td>
    <td><%= application.application_status %></td>
    <td><%= application.applicant_id %></td>
    <td><%= link_to 'Show', application %></td>
    <td><%= link_to 'Edit', edit_application_path(application) %></td>
    <td><%= link_to 'Destroy', application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>



<%= link_to 'Edit', edit_applicant_path(@applicant) %> |
<%= link_to 'Back', applicants_path %>
